# When the application is loaded on a non-web3 browser this is the network that the browser will use.
# Note: this is passed directly to ethers.js so you'll want to make sure ethers understand the name.

export NEXT_JS_FORTMATIC_API_KEY='pk_test_2B110F7E1300899C'
export NEXT_JS_FORTMATIC_PRODUCTION_API_KEY='pk_live_4CE42C7FD5C601A4'

# secret 38f116b54f1b4a5d99a720c89dae2498

export NEXT_JS_INFURA_ID='abaf2a7bc9d74252ade6c3ca4d488166'

export NEXT_JS_PORTIS_API_KEY='86e0cfa9-95b2-4eb5-86ed-ac9163ddbd6b'

export NEXT_JS_DOMAIN_NAME='mydomain'

export NEXT_JS_DEFAULT_ETHEREUM_NETWORK_NAME='homestead'
